* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f10;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 240px;
}

.beatsLogo img {
  margin: 40px 0;
  height: 25px;
}

.mainImage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 10px;
  margin: 0 60px;
  height: 100px;

}

.mainImage img {
  height: 530px;
}

.rightnav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
  margin: 30px 0;
  font-size: 15px;
  font-weight: 300;
}

.rightnav li {
  list-style: none;
  font-weight: 900px;
}


.shop-btn {
  background-color: #1e1e21;
  border-radius: 8px;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 40px;
  color: #ffffff;
  cursor: pointer;
}

.onEar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  margin-top: 60px;
  margin-left: 90px;
}

.rightnav h1 {
  font-size: 45px;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 10px;
}

.rightnav h3 {
  font-size: 15px;
  margin: 20px 40px;
}


.rightnav .para1 {
  margin: 10px 40px;
  padding-right: 170px;
  line-height: 2.1;
  color: #bdc0c2;
  font-size: 13px;
}

.addto-btn {
  background-color: #1e1e21;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 40px;
  padding: 15px 25px;
  gap: 20px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
}

.addto-btn img {
  height: 15px;
}

.addto-btn p {
  font-size: 13px;
}


main ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  gap: 150px;
}

main ul li {
  list-style: none;
}

main ul img {
  height: 22px;
}

.sec-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec-1 .specslogo {
  margin-bottom: 10px;
  height: 60px;
}

.sec-1 .confg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.sec-1 p {
  color: #bdc0c2;
}

.connection {
  font-size: 10px;
  line-height: 2;
  margin: 20px 35px;
  font-weight: 50;
}

.connection img {
  height: 20px;
}

.Battery {
  font-size: 10px;
  line-height: 2;
  margin: 20px 0;
  font-weight: 50;
}

.Battery img {
  height: 20px;
}

.Load {
  font-size: 10px;
  line-height: 2;
  margin: 20px 0;
  font-weight: 50;
}

.Load img {
  height: 20px;
}

.Microphone {
  font-size: 10px;
  line-height: 2;
  margin: 20px 35px;
  font-weight: 50;
}

.Microphone img {
  height: 20px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right img {
  height: 280px;
}

.confg p {
  color: #bdc0c2;
}

.sec-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec-2 main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 460px;
  margin-bottom: 100px;
}

.sec-2 .caseLogo {
  height: 50px;
  margin: 70px;
}

.sec-2 .left img {
  height: 300px;
}

.sec-2 .right {
  display: flex;
  flex-direction: column;

}

.sec-2 .right p {
  line-height: 1.8;
  font-size: 14px;
  margin-left: 5px;
  color: #bdc0c2;

}

.sec2-btn {
  background-color: #1e1e21;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  padding: 10px 25px;
  ;
  margin-top: 10px;
  margin-right: 40px;
}

.sec2-btn img {
  height: 20px;
}


.sec-3 .bg-template {
  background-color: #1e1e21;
  margin: 0 160px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 0 180px;
  line-height: 1.5;
}

.sec-3 .left h3 {
  font-weight: 700;
}

.sec-3 .left p {
  color: #bdc0c2;
  margin: 10px 0;
  font-size: 15px;
}


.sec-3 .left button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
}

.sec-3 .right {
  height: 330px;
}

.sec-3 .right img {
  height: 250px;
}

.sec-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.sec-4 .productLogo {
  margin: 100px;
  height: 90px;
}

.sec-4 .row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.sec-4 .row2 {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 50px 0;
  gap: 40px;
}

.card {
  position: relative;
}

.card .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #1e1e21;
  height: 130px;
  width: 130px;
  border: none;
  border-radius: 7px;
}

.card .headphone {
  position: absolute;
  bottom: 50%;
  right: 20%;

}

.card .headphone img {
  height: 100px;
}

.card .detail1,
.detail4 {
  position: absolute;
  top: 65%;
  right: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 37px;
  font-size: 13px;

}

.card .detail2,
.detail3 {
  position: absolute;
  top: 65%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 13px;

}

.card .detail5 {
  position: absolute;
  top: 65%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 13px;

}


.card .detail1 .span1,
.detail2 .span1,
.detail3 .span1,
.detail4 .span1,
.detail5 .span1 {
  color: #bdc0c2;
}

.card .detail1 .span2,
.detail2 .span2,
.detail3 .span2,
.detail4 .span2,
.detail5 .span2 {
  background-color: black;
  padding: 4px 6px;
  border: none;
  border-radius: 10px;
}

.card .detail1 .span2 img,
.detail2 .span2 img,
.detail3 .span2 img,
.detail4 .span2 img,
.detail5 .span2 img {
  height: 13px;
}

footer {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  gap: 70px;
  margin: 60px 0;
  margin-left: 100px;
}

footer li {
  list-style: none;
}


.div1 img {
  height: 25px;
}

.div2 h3 {
  line-height: 3;
  font-weight: 300;
  font-size: 16px;
}

.div2 li {
  line-height: 2;
  font-size: 12px;
  color: #bdc0c2;
}

.div3 h3 {
  line-height: 3;
  font-weight: 300;
  font-size: 16px;
}

.div3 li {
  line-height: 2;
  font-size: 12px;
  color: #bdc0c2;
}

.div4 {
  padding-left: 100px;
  margin-right: 60px;
}

.div4 .temp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  background-color: #1e1e21;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.div4 span {
  color: #bdc0c2;
}

.div4 button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.div4 .media {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin: 30px 0;
}


.div4 .media img {
  height: 30px;
}